<h1>Listing all bookings</h1>
<p>
<%= link_to "Create a new assignment", new_booking_path %>
</p>


<table>
	<tr>
		<th>Name</th>
		<th>Room#</th>
		<th>Check in</th>
		<th>Check out</th>
	</tr>

	<% @bookings.each do |booking| %>
	<tr>
		<td><%= booking.name %></td>
		<td><%= booking.room_num %></td>
		<td><%= booking.check_in %></td>
		<td><%= booking.check_out %></td>
		<td><%= link_to "Edit", edit_booking_path(booking) %></td>
		<td><%= link_to "Show", booking_path(booking) %></td>
		<td><%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} %></td>
	</tr>
	<% end %>
</table>

<table>
		<tr>
			<% yest = Time.now.yesterday.strftime("%Y-%m-%d") %>
			<% toda = Time.now.strftime("%Y-%m-%d") %>
			<% tomo = Time.now.tomorrow.strftime("%Y-%m-%d") %>
			<th>Room#</th>
			<th>Yesterday<br/><%= yest %></th>
			<th>Today<br/><%= toda %></th>
			<th>Tomorrow<br/><%= tomo %></th>
		</tr>

<% beds = ['201A', '201B', '201C'] %>
<% dates = [yest, toda, tomo] %>
	<% beds.each do |bed| %>
	<tr>
		<td><%= bed %></td>
		<% dates.each do |date| %>
		<td>
			<% booking = Booking.where("check_in <= ? and check_out > ?", date, date).find_by_room_num(bed) %>
			<% if booking == nil %>
			<%= link_to "New", new_booking_path %>
			<% else %>
			<%= link_to booking.name, edit_booking_path(booking) %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

<p>
<%= link_to "Home", bookings_path %>
</p>