<h1>Listing all bookings</h1>
<p>
<%= link_to "Create a new assignment", new_booking_path %>
</p>


<table>
	<tr>
		<th>Name</th>
		<th>Room#</th>
		<th>Check in</th>
		<th>Check out</th>
	</tr>

	<% @bookings.each do |booking| %>
	<tr>
		<td><%= booking.name %></td>
		<td><%= booking.room_num %></td>
		<td><%= booking.check_in %></td>
		<td><%= booking.check_out %></td>
		<td><%= link_to "Edit", edit_booking_path(booking) %></td>
		<td><%= link_to "Show", booking_path(booking) %></td>
		<td><%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} %></td>
	</tr>
	<% end %>
</table>

<table>
		<tr>
			<% yest = Time.now.yesterday.to_date %>
			<% toda = Time.now.to_date %>
			<% tomo = Time.now.tomorrow.to_date %>
			<th>Room#</th>
			<th>Yesterday<br/><%= yest %></th>
			<th>Today<br/><%= toda %></th>
			<th>Tomorrow<br/><%= tomo %></th>
		</tr>

<% beds = ['201A', '201B', '201C'] %>
<% dates = [toda.strftime("%Y-%m-%d"), tomo.strftime("%Y-%m-%d")] %>
	<% beds.each do |bed| %>
	<tr>
		<td><%= bed %></td>
		<!-- yesterday -->
			<% booking = Booking.where("check_in <= ? and check_out > ?", yest, yest).find_by_room_num(bed) %>
				<% if booking == nil %>
					<td style="background-color:grey">
						<%= link_to "New", new_booking_path %>
					</td>
				<% elsif booking.check_in < yest %>
					<td colspan=<%= booking.check_out - yest %> style="background-color:lightblue">
						<%= link_to booking.name, edit_booking_path(booking) %>
					</td>
				<% else booking.check_in == yest %>
					<td colspan=<%= booking.check_out - booking.check_in %> style="background-color:lightblue">
						<%= link_to booking.name, edit_booking_path(booking) %>
					</td>
				<% end %>
		<!-- today and future -->
		<% dates.each do |date| %>
			<% booking = Booking.where("check_in == ?", date).find_by_room_num(bed) %>
				<% if booking == nil %>
					<td style="background-color:grey">
						<%= link_to "New", new_booking_path %>
					</td>
				<% else %>
					<td colspan=<%= booking.check_out - booking.check_in %> style="background-color:lightblue">
						<%= link_to booking.name, edit_booking_path(booking) %>
					</td>
				<% end %>
		<% end %>
	</tr>
	<% end %>
</table>

<p>
<%= link_to "Home", bookings_path %>
</p>